body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #facaff;
  font-family: Inter, sans-serif;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
